<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="content" class="container" style="margin-top: 100px">
        <div class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/">
                <div class="alert alert-primary" role="alert">
                    URL Shortener
                </div>
            </a>
            {{ if .LoggedIn }}
                <a href="/profile">
                    <div class="alert alert-secondary" role="alert">
                        Logged in as: {{ .LoggedInAs }}
                    </div>
                </a>
                <a href="/logout">
                    <div class="alert alert-secondary" role="alert">
                        Logout
                    </div>
                </a>
            {{ else }}
                <a href="/createUser">
                    <div class="alert alert-secondary" role="alert">
                        Create User
                    </div>
                </a>
                <a href="/login">
                    <div class="alert alert-secondary" role="alert">
                        Login
                    </div>
                </a>
            {{ end }}
        </div>
        <div class="card">
            {{ if .ErrorHappened }}
                <div class="alert alert-danger" role="alert">
                    {{ .Error }}
                </div>
            {{ end }}
            {{ if .CreatedShortened }}
                <div class="alert alert-success" role="alert">
                    Created shortened link: <a href="/u/{{ .Shortened }}">{{ .Shortened }}</a>
                </div>
            {{ end }}
            <div class="card-body">
                <form method="POST">
                    <div class="form-group">
                        <label for="url">URL:</label>
                        <input type="text" id="url" name="url" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>