<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div id="content" class="container" style="margin-top: 100px">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/">
            <div class="alert alert-primary" role="alert">
                URL Shortener
            </div>
        </a>
        <div class="alert alert-light" role="alert">
            Logged in as: {{ .LoggedInAs }}
        </div>
        <a href="/logout">
            <div class="alert alert-secondary" role="alert">
                Logout
            </div>
        </a>
    </div>
    <div class="card">
        {{ if .ErrorHappened }}
            <div class="alert alert-danger" role="alert">
                {{ .Error }}
            </div>
        {{ end }}
        <div class="card-body">
            {{ range $url := .URLs }}
                <div class="card">
                    <div class="card-body">
                         <a href="/u/{{ $url.Short }}">{{ $url.Short }}</a>: <a href="{{ $url.Long }}">{{ $url.Long }}</a>
                    </div>
                </div>
            {{ end }}
            <br>
            <div class="card">
                <a href="/deleteUser">
                    <div class="card-body">
                        Delete Account
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>